body{
	font-family: '  Web', sans-serif;
	padding: 6px;
	font-size: 16px;
}

.logo{
	display: inline-block;
	background-color: rgb(36, 148, 222);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.logo:hover{
	text-decoration: none;
	color: white;
}

#boton_login{
	position: absolute;
	font-size: 15px;
	right: 6px;
}

form label{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	margin: 0 6px 12px 0;
	text-align: right;
}

form button{
	margin-left: 90px;
}

p, form{
	background-color: #e3e4e6;
	padding: 8px;
	border-radius: 5px;
	margin-top: 10px;
}

p span{
	font-weight: bold;
	font-size: 18px;
}

#pie{
	text-align: center;
}

a.link{
	display: inline-block;
	width: 80%;
}

li:hover{
	background-color: #ffffcc;
}


#menu{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	border-bottom-style: solid;
	border-bottom-color: rgb(36, 148, 222);
	border-bottom-width: 1px;
}

#menu li{
	display: inline-block;
	margin-left: 3px;
}

#menu li a{
	display: block;
	padding: 3px 5px;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	color: rgb(36, 148, 222);
	background-color: white;
}

#menu li a:hover{
	color: white;
	background-color: rgb(36, 148, 222);
	
}

img{
	width: 100%;
}

#registro{
	text-align: center;
}


ol{
	width: 75%;
}

.listatags{
	width: 20%;
	list-style: none;
}

ol,.listatags{
	display: inline-block;
	vertical-align: top;
}

.inlinebutton{
	margin: 0;
}

.mistags{
	list-style: none;
}

a.tag{
	display: inline-block;
	width: 300px;
}

.delrel:hover{
	cursor: pointer;
}